parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Zalt\\\\Model\\\\Data\\\\DataReaderInterface\\:\\:delete\\(\\)\\.$#"
			count: 1
			path: src/Handlers/ModelRestHandlerAbstract.php

		-
			message: "#^Call to an undefined method Zalt\\\\Model\\\\Data\\\\DataReaderInterface\\:\\:save\\(\\)\\.$#"
			count: 1
			path: src/Handlers/ModelRestHandlerAbstract.php

		-
			message: "#^Method Psr\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 5
			path: src/Handlers/ModelRestHandlerAbstract.php

		-
			message: "#^Dead catch \\- Gems\\\\Api\\\\Exception\\\\IncorrectDataException is never thrown in the try block\\.$#"
			count: 1
			path: src/Handlers/RestHandlerAbstract.php
